apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: protostar-frontend
        namespace: service
        labels:
          env: prod
      spec:
        replicas: 2
        template:
          metadata:
            labels:
              env: prod
          spec:
            nodeSelector:
              kubernetes.io/hostname: A5