apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: protostar-frontend
        namespace: service
        labels:
          env: prod
      spec:
        replicas: 2
        template:
          metadata:
            labels:
              env: prod
          spec:
            nodeSelector:
              kubernetes.io/hostname: hansol-a5
            containers:
              - name: frontend
                resources:
                  limits:
                    memory: "256Mi"
                    cpu: "500m"
                  requests:
                    memory: "128Mi"
                    cpu: "100m"
                livenessProbe:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 30
                  periodSeconds: 20
                readinessProbe:
                  httpGet: 
                    path: /
                    port: 3000
                  initialDelaySeconds: 20
                  periodSeconds: 10
                